<h1>Search Results</h1>

<p><b>Total Number of Members:</b> <%= @members.count %></p>

<h2>Member Details</h2>

<% @members.first(25).each do |member| %>
  <div class='member' id="member-<%= member.id %>">
    <p><b>Name:</b> <%= member.name %></p>
    <p><b>Affiliation:</b> <%= member.affiliation %></p>

    <% if !member.photo.nil? %>
      <%= image_tag(member.photo) %>
    <% end %>

    <p><b>Allies:</b></p>
      <ul>
      <% member.allies.each do |ally| %>
        <li><%= ally %></li>
      <% end %>
      </ul>

    <p><b>Enemies:</b></p>
      <ul>
      <% member.enemies.each do |enemy| %>
        <li><%= enemy %></li>
      <% end %>
      </ul>
  </div><br>
<% end %>